.patrimonio-container {
    color: #fff;
    font-family: 'Roboto';
    width: 100%;
    min-height: 300px;
    max-height: 450px;
    display: flex;
    justify-content: center;
}

.patrimonio-container2 {
    flex: 0.4;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.login-header {
    text-align: center;
    background-color: #004d40;
    padding: 1vw;
    font-weight: bold;
}

form {
    background-color: #38786a;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 4vw 0vw 4vw;
}

.form-row label{
    flex: 1;
    font-family: 'Source Sans Pro';
}

.form-row input {
    border: none;
    font-size: 1em;
    flex: 2;
}

.form-row button{
    border: none;
    padding: 0.5vw 2vw;
    color: #002419;
    font-family: 'Source Sans Pro';
    margin-bottom: 2vw;
}