<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-4 col-sm-4 col-sm-offset-4 login-container">

      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="row login-header">

            <span class="login-header-text">CONTROLE DE PATRIMONIO</span>

        </div>

        <div class="row users-form-group">
          <label for="login" class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 users-form-element">Login:</label>
          <input type="text" class="col-md-5 col-sm-5" id="login" formControlName="login">
        </div>
        <br>
        <div class="row users-form-group">
          <label for="senha" class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 users-form-element">Senha:</label>
          <input type="password" class="col-md-5 col-sm-5" id="senha" formControlName="senha">
        </div>

        <div class="row users-form-group">
          <div class="col-md-12">
            <span class="users-alert-error" *ngIf="erro">Teste</span>
          </div>
        </div>

        <div class="row users-form-group">
          <div class="users-form-element">
            <button class="users-btn users-btn-login" [disabled]="!formLogin.valid">Entrar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>