
.login-container {
    margin-top: 15%;
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    background-color: #66bb6a;
    color: #fff;
    font-family: 'Roboto';
    font-weight: bold;
}

.login-header {
    margin: -20% auto 30px auto;
    background-color: #468749;
    padding-top: 2%;
    padding-bottom: 2%;
}

.login-header-text{
    display: block;
    text-align: center;
}

.users-form-group{
    margin-bottom: 15px;
}

.users-form-element{
    padding-left: 0px;
    padding-right: 0px;
}

input[type="text"], input[type="password"]{
    border: none;
    color: #000;
    font-family: 'Source Sans Pro';
    font-weight: normal;
    padding-left: 4px;
}

.users-btn-login{
    padding: 8px 18px;
    margin: 10px auto 20px auto;
    display: block;
}
